.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Ignore all data
data/*/raw/*
data/*/processed/*
data/*/clean/*
data/Organizational capital_fishing organizations Mex/*
data/maximum_daily_liters.csv
*.zip

## Exceptions to the rule (these data are available on GitHub)
# Mex VMS data
!data/mex_vms/raw/**/
!data/mex_vms/clean/*

# Mex lanmdings data
!data/mex_landings/raw/**/
!data/mex_landings/clean/mex_annual_landings_by_eu.rds
!data/mex_landings/clean/mex_annual_landings_by_vessel.rds
!data/mex_landings/clean/mex_monthly_landings_by_eu.rds
!data/mex_landings/clean/mex_monthly_landings_by_vessel.rds
!data/mex_landings/clean/mex_landings_2000_2022.rds

# TURFs
!data/concesiones/processed/all_spp_permit_and_concessions_polygons.gpkg

# Vessel registry
!data/mex_vessel_registry/raw/ANEXO-DGPPE-147220/
!data/mex_vessel_registry/clean/*.csv
